.fluidaner {
  margin-bottom: 200px;
  margin-top: 100px;  
}

.text-white {
  color: #fff;
}

.btn-play-stop {
  margin-top: 10px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 80px;
  height: 40px;
}

.card {
  margin-top: 10px;
}

.card-title {
  font-size: 1.25rem;
}

.privacy-title {
  font-size: calc(1.375rem + 1.5vw);
  }

.ad-banner {
  margin-top: 20px;
}

.volume-box {
  position: fixed;
  padding: 1rem;
  z-index: 1;
  width: 100%;
  bottom: 1px;
  right: 1px;
  margin-top: 0;
  height: 8rem;
  opacity: 1;
  border-radius: 10px;
  background: white;
  text-align: center;
  -webkit-box-shadow: -6px -4px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -6px -4px 18px 0px rgba(0,0,0,0.75);
  box-shadow: -6px -4px 18px 0px rgba(0,0,0,0.75);
}


.fav, .faved {
  font-size: 2rem;
  color: rgb(233, 48, 94);
  cursor: pointer;
}


.fav:before {
  content: ' \2661';
}

.faved:before {
  content: ' \2665';
  
}


.centerify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin-top: 0vh;
}

.yin-yang {
  background-color: whitesmoke;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: relative;
  cursor: pointer;
  -webkit-animation: yin-yang-anim 4s infinite;
  animation: yin-yang-anim 4s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.yin {
  background-color: lightgray;
  border-radius: 100%;
  position: absolute;
  left: 100px;
  width: 200px;
  height: 200px;
}
.yin-dot {
  background-color: gray;
  border-radius: 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 80px;
  top: 80px;
}
.yang-dot {
  background-color: lightgray;
  border-radius: 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 80px;
  top: 80px;
}
.yin-yang-left {
  background-color: gray;
  border-radius: 200px 0 0 200px;
  position: absolute;
  width: 200px;
  height: 400px;
}
.yin-yang-right {
  background-color:  lightgray;
  border-radius: 0 200px 200px 0;
  position: absolute;
  width: 200px;
  height: 400px;
  left: 200px;
}
.yang {
  background-color: gray;
  border-radius: 100%;
  position: absolute;
  left: 100px;
  top: 200px;
  width: 200px;
  height: 200px;
}

.search-form {
	margin-bottom: 30px;
}

.hilt {
  height: 25px;
  margin-top: 33px;
  margin-left: -2px;
  border-color: rgba(206, 206, 206, 0.75);
  border-width: 6px;
  background: rgba(206, 206, 206, 0.75);
  width: 5px;
  position: absolute;
  transform: rotate(-45deg);
  transition: 0.5s;
  border-radius: 50%;
}

.hilt-back {
transition: 0.5s;
}

.hilt-back.on {
  height: 25px;
 margin-top: 13px;
  margin-left: -24px;
  border-color: rgba(206, 206, 206, 0.75);
  border-width: 6px;
  background: rgba(206, 206, 206, 0.75);
  width: 5px;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 50%;
  cursor: pointer;
}

.hilt.on {
margin-top: 13px;
 margin-left: -24px;
 cursor: pointer;
}

.search-me{
  padding: 10px 20px;
  border-radius: 30px;
  border-color: rgb(209, 208, 209);
  border-width: 6px;
  border-style: solid;
  background: rgba(255, 255, 255, 0.82);
  color: #000000;
  width: 0px;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
}

.search-form label {
  margin-bottom: 30px;
}


.search-me.on {
padding: 10px 30px;
  border-radius: 20px;
  border-color: rgba(226, 226, 226, 0.75);
  border-width: 6px;
  border-style: solid;
  background: rgb(255, 255, 255);
  width: 70%;
  color: #000000;
  cursor: text;
}

/* Add some basic styles for the loading spinner */
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: -60px; /* Negative half of height. */
  margin-left: -60px;
}

/* Responsive Table Wrapper */
.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

/* Styling the Table */
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

/* Table Headers and Cells */
.table-wrapper th,
.table-wrapper td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 12px;
}

/* Header Styling */
.table-wrapper th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

/* Zebra Striping */
.table-wrapper tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover Effect */
.table-wrapper tr:hover {
  background-color: #eaeaea;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }  /* Use negative value for anti-clockwise spin */
}

@-webkit-keyframes yin-yang-anim {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scaleX(0) scaleY(0);
   transform: rotate(0deg) scaleX(0) scaleY(0);
  }
  25% {
    opacity: 0.5;
    -webkit-transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
     transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-360deg) scaleX(1) scaleY(1);
     transform: rotate(-360deg) scaleX(1) scaleY(1);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
     transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-720deg) scaleX(0) scaleY(0);
     transform: rotate(-720deg) scaleX(0) scaleY(0);
  }
}
@keyframes yin-yang-anim {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scaleX(0) scaleY(0);
     transform: rotate(0deg) scaleX(0) scaleY(0);
  }
  25% {
    opacity: 0.5;
    -webkit-transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
     transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-360deg) scaleX(1) scaleY(1);
    transform: rotate(-360deg) scaleX(1) scaleY(1);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
    transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-720deg) scaleX(0) scaleY(0);
    transform: rotate(-720deg) scaleX(0) scaleY(0);
  }
}

@keyframes flicker {
  0% { background-color: white; color: black; }
  50% { background-color: black; color: white; }
}

.flicker {
  animation: flicker 0.01s infinite;
}

.card {
  background: inherit;
}


@media only screen and (min-width: 720px) {
  .volume-box {
    width: 540px;
  }
}