.fluidaner {
  margin-bottom: 200px;
  margin-top: 100px;  
}

.text-white {
  color: #fff;
}

.btn-play-stop {
  margin-top: 10px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 80px;
  height: 40px;
}

.card {
  margin-top: 10px;
}

.card-title {
  font-size: 1.25rem;
}

.privacy-title {
  font-size: calc(1.375rem + 1.5vw);
  }

.ad-banner {
  margin-top: 20px;
}

.volume-box {
  position: fixed;
  padding: 1rem;
  z-index: 1;
  width: 100%;
  bottom: 1px;
  right: 1px;
  margin-top: 0;
  height: 8rem;
  opacity: 1;
  border-radius: 10px;
  background: white;
  text-align: center;
  -webkit-box-shadow: -6px -4px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -6px -4px 18px 0px rgba(0,0,0,0.75);
  box-shadow: -6px -4px 18px 0px rgba(0,0,0,0.75);
}


.fav, .faved {
  font-size: 2rem;
  color: rgb(233, 48, 94);
  cursor: pointer;
}


.fav:before {
  content: ' \2661';
}

.faved:before {
  content: ' \2665';
  
}


.centerify {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 80vh;
}

.yin-yang {
  background-color: whitesmoke;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: relative;
  cursor: pointer;
  -webkit-animation: yin-yang-anim 2s infinite;
  animation: yin-yang-anim 2s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.yin {
  background-color: lightgray;
  border-radius: 100%;
  position: absolute;
  left: 100px;
  width: 200px;
  height: 200px;
}
.yin-dot {
  background-color: gray;
  border-radius: 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 80px;
  top: 80px;
}
.yang-dot {
  background-color: lightgray;
  border-radius: 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 80px;
  top: 80px;
}
.yin-yang-left {
  background-color: gray;
  border-radius: 200px 0 0 200px;
  position: absolute;
  width: 200px;
  height: 400px;
}
.yin-yang-right {
  background-color:  lightgray;
  border-radius: 0 200px 200px 0;
  position: absolute;
  width: 200px;
  height: 400px;
  left: 200px;
}
.yang {
  background-color: gray;
  border-radius: 100%;
  position: absolute;
  left: 100px;
  top: 200px;
  width: 200px;
  height: 200px;
}
@-webkit-keyframes yin-yang-anim {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scaleX(0) scaleY(0);
   transform: rotate(0deg) scaleX(0) scaleY(0);
  }
  25% {
    opacity: 0.5;
    -webkit-transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
     transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-360deg) scaleX(1) scaleY(1);
     transform: rotate(-360deg) scaleX(1) scaleY(1);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
     transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-720deg) scaleX(0) scaleY(0);
     transform: rotate(-720deg) scaleX(0) scaleY(0);
  }
}
@keyframes yin-yang-anim {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scaleX(0) scaleY(0);
     transform: rotate(0deg) scaleX(0) scaleY(0);
  }
  25% {
    opacity: 0.5;
    -webkit-transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
     transform: rotate(-180deg) scaleX(0.5) scaleY(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-360deg) scaleX(1) scaleY(1);
    transform: rotate(-360deg) scaleX(1) scaleY(1);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
    transform: rotate(-540deg) scaleX(0.5) scaleY(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-720deg) scaleX(0) scaleY(0);
    transform: rotate(-720deg) scaleX(0) scaleY(0);
  }
}

@keyframes flicker {
  0% { background-color: white; color: black; }
  50% { background-color: black; color: white; }
}

.flicker {
  animation: flicker 0.01s infinite;
}

.card {
  background: inherit;
}


@media only screen and (min-width: 720px) {
  .volume-box {
    width: 540px;
  }
}