---
layout: default
title: Brain Beats Blog
description: A blog of my recent studies of frequencies and brain wave entrainment. This includes all of my research into frequencies.
subject: Brain Beats Blog List
apple-title: Brain Beats Blog
app-name: Brain Beats Blog Blog
tweet-title: Brain Beats Blog
tweet-description: A blog of my recent studies of frequencies and brain wave entrainment. This includes all of my research into frequencies.
og-title: Brain Beats Blog
keywords: Brain beats blog , binaural beats blog 
---
<main>
	<h1>{{ page.title }}</h1>
	<p>Here are all research on frequencies I have done.</p>
	<section>
		<h4>Blog Posts :- </h4>
		<ul class="posts">

			{% for post in paginator.posts %}
			  <li><span><time datetime="{{post.date}}">{{ post.date | date_to_string }}</time></span> » <cite><a href="{{site.url}}{{ post.url }}" title="{{post.title}}" >{{ post.title }}</a></cite></li>
			{% endfor %}
		  </ul>
	  </section>
	  <!-- Pagination links -->
	  <nav>
		  <ul class="pagination justify-content-center">
			  {% if paginator.previous_page %}
				<li class="page-item"><a  class="page-link" href="{{site.url}}{{ paginator.previous_page_path }}" class="previous">
				  Previous
				</a></li>
			  {% else %}
				<li class="page-item"><span class="previous page-link">Previous</span></li>
			  {% endif %}
			  <li class="page-item">
			   <span class="page_number page-link">
				Page: {{ paginator.page }} of {{ paginator.total_pages }}
			   </span>
			  </li>
			  {% if paginator.next_page %}
			   <li class="page-item">
				<a  class="page-link" href="{{site.url}}{{ paginator.next_page_path }}" class="next">Next</a>
			  </li>
			  {% else %}
			  <li class="page-item">
				<span class="next page-link">Next</span>
			  {% endif %}
			  </li>
		  </ul>
	  </nav>
</main>
