<!doctype html>
<html class="no-js" lang="en">

 <head>
  <script src="js/pwabuilder-sw-register.js">
  </script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" 
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
   integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
   crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
 </head>

 <body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">
     You are using an <strong>outdated</strong> browser. 
     Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <div class="container-fluid">
   <div class="row">
    <div class="col">
     <div class="card">
      <div class="card-body">
       <h5 class="card-title">Sample Audio</h5>
        <div class="row">
	 <div class="col text-left" >
          <p class="card-text">This is the sample audio.</p>
         </div>
         <div class="col text-right">
          <button onclick="oscillator.start();" class="btn btn-primary">Play</button>
          <button onclick="oscillator.stop();" class="btn btn-secondary">Stop</button>
         </div>
        </div>
      </div>
     </div>
    </div>
   </div>
  </div>

  <script
   src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
   crossorigin="anonymous"></script>
  <script 
   src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
   integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
   crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
   crossorigin="anonymous"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
 </body>

</html>
