// Colors
$primary-blue: #0000FF;
$primary-white: #ffffff;
$primary-black: #000000;
$dark-grey: #333333;
$light-grey: #f4f4f4;
$border-grey: #dddddd;
$border-light: #d5d5d5;
$fav-pink: rgb(233, 48, 94);
$code-green: #07f31b;
$code-blue: #e1ecf3;

// Links
$links: $primary-blue;

// Typography
$font-family-base: "Helvetica", "Arial", "Sans-Serif";

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
